[Unit]
Description=Node Exporter Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/nodeExporter/node_exporter

[Install]
WantedBy=multi-user.target
