[Unit]
Description=Alertmanager
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/alertmanager/alertmanager \
  --config.file=/usr/local/bin/alertmanager/alertmanager.yml \
  --cluster.advertise-address="192.168.0.2:9093"

[Install]
WantedBy=multi-user.target
