[Unit]
Description=Mysql Exporter Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/mysqlExporter/mysqld_exporter --config.my-cnf /root/.my.cnf

[Install]
WantedBy=multi-user.target
